<section id="story">
  <div class="texts">
    <h1>{{'STORY.TITLE' | translate}}</h1>
    <div class="description">
      <h4>{{'STORY.SUBTITLE' | translate}}</h4>
      <p>{{'STORY.TEXT1' | translate}}</p>
      <p>{{'STORY.TEXT2' | translate}}</p>

      <p>{{'STORY.TEXT3' | translate}}</p>
      <p>{{'STORY.TEXT4' | translate}}</p>
      <p>{{'STORY.TEXT5' | translate}}</p>
    </div>
  </div>
  <div class="images">
    <img
      src="/assets/images/miseenplace.webp"
      alt="Immagine Ristorante"
      loading="lazy"
    />
  </div>
  <img
    src="/assets/illustrations/wave.webp"
    alt="background wave illustration"
    loading="lazy"
    class="wave"
  />
</section>
