<section id="faq">
  <h1 class="title">{{'FAQ.TITLE' | translate}}</h1>
  <div class="QA-container">
    <app-faq-item question="FAQ.QUESTION1" answer="FAQ.ANSWER1" />
    <app-faq-item question="FAQ.QUESTION2" answer="FAQ.ANSWER2" />
    <app-faq-item question="FAQ.QUESTION3" answer="FAQ.ANSWER3" />
    <app-faq-item question="FAQ.QUESTION4" answer="FAQ.ANSWER4" />
    <app-faq-item question="FAQ.QUESTION5" answer="FAQ.ANSWER5" />
    <app-faq-item question="FAQ.QUESTION6" answer="FAQ.ANSWER6" />
    <app-faq-item question="FAQ.QUESTION7" answer="FAQ.ANSWER7" />
    <app-faq-item question="FAQ.QUESTION8" answer="FAQ.ANSWER8" />
  </div>

  <img
    src="/assets/illustrations/sardines_sand.webp"
    alt="Sardines doodle illustration"
    loading="lazy"
    class="illustration"
  />
  <img
    src="/assets/illustrations/wave.webp"
    alt="background wave illustration"
    class="wave"
    loading="lazy"
  />
</section>
