<section id="experience">
  <h1 class="title">{{'EXPERIENCE.TITLE' | translate}}</h1>

  <div class="services">
    <div class="bar">
      <img
        src="/assets/illustrations/aperol_sand.webp"
        alt="Aperol doodle illustration"
        loading="lazy"
      />
      <div class="texts">
        <h4>{{'EXPERIENCE.SUBTITLE1' | translate}}</h4>
        <p>{{'EXPERIENCE.TEXT1' | translate}}</p>
      </div>
    </div>
    <div class="restaurant">
      <img
        src="/assets/illustrations/pepper_sand.webp"
        alt="Man with pepper doodle illustration"
        loading="lazy"
      />
      <div class="texts">
        <h4>{{'EXPERIENCE.SUBTITLE2' | translate}}</h4>
        <p>{{'EXPERIENCE.TEXT2' | translate}}</p>
      </div>
    </div>
    <div class="atmosphere">
      <img
        src="/assets/illustrations/sun_sand.webp"
        alt="Sun doodle illustration"
        loading="lazy"
      />

      <div class="texts">
        <h4>{{'EXPERIENCE.SUBTITLE3' | translate}}</h4>
        <p>{{'EXPERIENCE.TEXT3' | translate}}</p>
      </div>
    </div>
  </div>

  <img
    src="/assets/illustrations/wave.webp"
    alt="background wave illustraion"
    loading="lazy"
    class="wave"
  />
</section>
